* {
    margin: 0;
    padding: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background: hsl(212, 45%, 89%);
}


/* Card Positioning */

.card-holder {
    display: flex;
    justify-content: center;
    margin: 10% 0;
}

.card {
    width: 250px;
    height: auto;
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}


/* Card Top Half Part */

.card-top {
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    border-radius: 10px;
}


/* Card Bottom Part */

.card-bottom {
    padding: 10px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

.card-header {
    font-size: 20px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin: 15px 0;
}

.card-content {
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    margin: 20px 0;
}