* {
    margin: 0;
    padding: 0;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background: hsl(212, 45%, 89%);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
}


/* Card Positioning */

.card {
    /* card holder */
    width: 15.625rem;
    height: auto;
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}


/* Card Top Half Part */

img {
    width: 100%;
    border-radius: 10px;
}


/* Card Bottom Part */

.card-bottom {
    padding: 0.625rem;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

.card-header {
    font-size: 1.25rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin: 0.9375rem 0;
}

.card-content {
    font-size: 0.9375rem;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    margin: 1.25rem 0;
}


/* Footer */

footer {
    margin-top: 0.625rem;
}